body {
    font-family: Arial, sans-serif;
    background-color: #A1A2A6;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.time {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: timerUpdate 0.5s ease;
}
@keyframes timerUpdate {
    0% { transform: scale(1.1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7C00FE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    /* background-color: #0056b3; */
    transform: scale(1.05);
    background-color: #973df7;

}

.laps {
    margin-top: 20px;
    text-align: left;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps li {
    margin-bottom: 5px;
}
.laps li:nth-child(even) {
    background-color: #d7c9c9;
}

.laps li:hover {
    background-color: #e6e6e6;
}
.help-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7C00FE;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    z-index: 100;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.help-popup h3 {    
    margin-top: 0;
    font-size: 18px;
}

.help-popup ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.help-popup li {
    margin-bottom: 8px;
}

.help-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}